<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/home/igor/Projects/YourPower/templates/css/profile.css">
    <title>Profile</title>
</head>
<body>
    <header>
        <h1>Профиль</h1>
        <nav>
          <ul>
            <li><a href="#" class="header__line" >Главная</a></li>
            <li><a href="#" class="header__line">Мои силовые</a></li>

            <li><a href="#" class="header__line">Мои тренировки</a></li>

          </ul>
        </nav>
      </header>
      
      <main>
        <article class="user-info">

          <h2>Имя Фамилия</h2>

        </article>
      
        <div class="main-container"> 
          <canvas id="myChart" ></canvas>
          
        </div>
      
        
      </main>

      <footer>
        f
      </footer>
      
</body>
</html>